<h1>calculadora</h1>

Numero 1 : <input type="number" [(ngModel)]="num1"><br/><br/>

Numero 2 : <input type="number" [(ngModel)]="num2"><br/><br/>

<button type="button" (click)="muestraResultado()" > + </button>

<button type="button" (click)="muestraResultado1()">-</button>

<button type="button" (click)="muestraResultado2()"> * </button>

<button type="button" (click)="muestraResultado3()">/  </button>

<div *ngIf="showMessage">
  Respuesta {{num1 + num2}}     
</div>
<div *ngIf = "showMessage1">
    Respuesta {{num1 - num2}}
</div>
<div *ngIf = "showMessage2">
    Respuesta {{num1 * num2}}
</div>
<div *ngIf = "showMessage3">
    Respuesta {{num1 / num2}}
</div>
